<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>MinRed</title>

    <!-- bootstrap -->

    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="src/public/css/styles.css">
</head>
<body>

    <nav class="navbar navbar-dark bg-dark">
        <div class="container">
            <a href="/" class="navbar-brand">
                <img src="" alt="MiniRed">
            </a>
        </div>
    </nav>

    <div class="container">
        {{{ body }}}
    </div>
    
</body>
</html>